<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Learn Java the Hard Way Progress Book</title>
  </head>
  <body>
    <h1 class="title">JavaHard Progress</h1>
    <p class="welcome">Welcome to my Progress book page!</p>
    <%= erb :table %>
  </body>
</html>
