<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>The Setup</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>1</td>
      <td>An Important Message</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>2</td>
      <td>More Printing</td>
      <td>
        <input type="checkbox" name="done" value=""
        onchange="hello()"
        >
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  function hello(e) {
    const checked = document.getElementsByName('done');
    console.log(e);
  }
</script>
