<div id="app">
  {{ message }}
</div>

<div id="table">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="lesson in lessons">
        <td>{{ lesson.no }}</td>
        <td>{{ lesson.title }}</td>
        <td>{{ lesson.done }}</td>
      </tr>
      <!-- <tr>
        <td>0</td>
        <td>The Setup</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>1</td>
        <td>An Important Message</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>2</td>
        <td>More Printing</td>
        <td>Yes</td>
      </tr> -->
    </tbody>
  </table>
</div>
