<div id="app">
  {{ message }}
</div>

<div id="table">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <table-item
        v-for="lesson in lessons"
        v-bind:key="lesson.id"
        v-bind:title="lesson.title"
      ></table-item>
    </tbody>
  </table>
</div>
